my_flows.json
[{"id":"cda27c5c.6ab3e","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"f9d5f11e.db731","type":"template","z":"cda27c5c.6ab3e","name":"test12.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <style type=\"text/css\">\n            {{{payload.css}}}\n        </style>\n    </head>\n    <body>\n        <div id='a1'>\n            こんにちは\n        </div>\n    </body>\n</html>","x":410,"y":240,"wires":[["2aa1be89.244382"]]},{"id":"514ea450.94897c","type":"template","z":"cda27c5c.6ab3e","name":"css","field":"payload.css","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"#a1 {\n  background-color:  #98d98e;\n  padding: 20px;\n  height: 100px;\n}\n","x":250,"y":160,"wires":[["f9d5f11e.db731"]]},{"id":"3fc85f2f.66f3e","type":"http in","z":"cda27c5c.6ab3e","name":"","url":"/test12","method":"get","swaggerDoc":"","x":70,"y":200,"wires":[["514ea450.94897c"]]},{"id":"2aa1be89.244382","type":"http response","z":"cda27c5c.6ab3e","name":"","x":570,"y":200,"wires":[]},{"id":"26eef667.e74bfa","type":"comment","z":"cda27c5c.6ab3e","name":"色を付けてみました","info":"","x":90,"y":160,"wires":[]}]